img {
  border-radius: 6px;
  height: 50%;
  object-fit: contain;
  overflow: hidden;
  width: 50%;
}

ul {
  font-family: monospace;
  list-style: square;
}

ol {
  list-style: lower-alpha;
}

a:hover {
  color: hotpink;
}

footer {
  text-align: center;
}

#name {
  font-family: "Andale Mono";
}

.mainbackground {
  margin: 0 auto;
  background-color: #f6f9f9;
  padding: 40px;
}

.imagebackground {
  background-color: #adbdbd;
  color: white;
  padding: 40px;
}

.navigation {
  position: fixed;
  width: 100%;
  background-color: #367c7d;
  justify-content: space-around;
  display: flex;
}

.navigation>a {
  border-style: dashed;
  font-size: 20px;
  flex: 1;
  height: 50px;
  text-align: center;
  width: 100px;
}

.profile {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.para {
  display: flex;
  justify-content: space-around;
}

.col1 {
  background-color: #2A64D8;
}

.col2 {
  background-color: #2AD8CD;
}

.col3 {
  background-color: #30D82A;
}
